<footer>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10" style="text-align:center;">
          <ul class="list-inline footer-list-inline">
            <li>
              <a href="#">Itbeezone© 2016</a>
            </li>
            <li>
              <a href="#">User Agreement</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#" >Community Guidelines</a>
            </li>
            <li>
              <a href="#" >Cookie Policy</a>
            </li>
            <li>
              <a href="#" >Guest Controls</a>
            </li>
            <li>
              <a href="#" >Language</a>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</footer>