
.form-control{
  font-size: 12px !important;
}


.navbar-custom {
  background: #2C3E50;
  font-family: proxima-nova,Helvetica Neue,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 7px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 80px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18BC9C;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 20px;
  padding-bottom: 60px
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #000;
  padding-bottom: 10px;
}



.header-drop-down {
  border: 4px solid rgb(49, 41, 41); 
}

.navbar-nav > .open:after {
  border-color: #0E0D0D transparent !important;
}

.account-setting-title {
  padding: 6px 11px;
  background: #9A9898;
  margin-top: -5px;
  color: #fff;
}
.filter-btn {
  border-radius:0px;
  background: #575757;
  background-image: -webkit-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%); 
  border:1px solid #888888;
}

.setting-section {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 10px;
  color: #000;
}

.setting-section button {
  margin-top: 3px;
  background: rgb(59, 123, 134);
  color: #fff;
}

.header-drop-down {
  min-width: 330px !important;
}

.new-nav-bg{
  background: none;
}

.search-filter-regis {
  width:70% !important;
  margin-left:10%;
  margin-top:8px;
}

.search-filter {
  width:50% !important;
  margin-left:15%;
  margin-top: 7px;
}
.header-drop-down{
  border: 4px solid rgb(49, 41, 41);
}

.navbar-nav > .open:after {
  border-color: #0E0D0D transparent;
}

.account-setting-title {
  padding: 6px 11px;
  background: #9A9898;
  margin-top: -5px;
  color: #fff;
}

.search-filter-drowpdown {
  min-width: 150px !important;
  border-radius: 0px !important;
  background: rgb(76, 76, 76);
  padding: 0px 0;
}

.search-filter-drowpdown > li > a {
  color: silver;
  padding: 7px 20px;
  border-bottom: 1px solid #000;
}

.search-filter-drowpdown > li > a:hover{
  background-color: #53585A;
  color: silver;
}


.search-btn {
  color: #fff;
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border: 1px solid #b8e356;
  border-radius: 0px;
  width:65px;
  margin-left:10px;

}
.search-btn :hover {
  color: #fff;
}
.new-ab-login-ins{
  width: 235px;
}
.new-nav-bg{
  background: #3f3f3f;
}
.new-ab-forget-link{
  margin-right: -8px;
}
/*responsive nav */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
  .search-filter{
    width: 70% !important;
  }
  .search-btn{
    position: absolute;
  }
  .new-nav-bg{
    background: #3f3f3f;
  }
  .new-ab-login-ins{
    width: 100% !important;
  }
  .new-ab-forget-link{
    left: 0;
    position: absolute;
    width: 58%;
  }

  .open .dropdown-menu{
    background: #fff !important;
    color: #000 !important;
  }

  .header-drop-down{
    min-width: 230px !important;
    width: 92% !important;
    border: 5px solid #000 !important;
  }

  .dropdown-toggle{
    width: 92% !important; 
  }

  .new-ab-search{
    position: relative;
    margin-bottom: 20px;
  }

  .input-group-addon, .input-group-btn{
    width: 25% !important;
  }
}
@media only screen and (min-device-width : 568px) and (max-device-width : 736px){
  .search-filter{
    width: 70% !important;
  }
  .search-btn{
    position: absolute;
  }
  .new-nav-bg{
    background: #3f3f3f;
  }
  .new-ab-login-ins{
    width: 100% !important;
  }
  .new-ab-forget-link{
    left: 0;
    position: absolute;
    width: 30%;
  }
  .new-ab-search{
    position: relative;
    margin-bottom: 20px;
  }

  .open .dropdown-menu{
    background: #fff !important;
    color: #000 !important;
  }

  .header-drop-down{
    min-width: 230px !important;
    width: 92% !important;
    border: 5px solid #000 !important;
  }

  .dropdown-toggle{
    width: 92% !important; 
  }

  .input-group-addon, .input-group-btn{
    width: 25% !important;
  }

}
/*responsive nav end */


.search-btn:hover {
  color: #fff;
}


/* File Upload */
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}
/* File Upload */
