<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <% if @filter == 'athelet' %>
        <th>Player Name</th>
      <% elsif @filetr == 'team' %>
        <th>Team Name</th>
      <% elsif @filetr == 'company' %>
        <th>Company Name</th>
      <% else %>
        <th>Name</th>
      <% end %>
      <th>Email</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |u, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to u.full_name, edit_admin_user_path(u) %></td>
        <td><%= u.email %></td>
        <td><%= u.active? %></td>
      </tr>
    <% end %>
  </tbody>
</table>